/*
  You don't need to touch this file to complete the assignment!
  Unless you want to add styles and make it look more beautiful.
*/

/*
  Some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
}

body {
  background-color: darkcyan;
}

.viewed
{
  text-decoration: line-through;
}

table {
  background-color: black;
  padding: 8px;
}

th {
  padding: 16px;
  border: 2px solid black;
  background-color: darkblue;
  color: white;
}

td {
  padding: 16px;
  background-color: rgb(0, 0, 199);
  border: 1px solid black;
  color: orange;
}

.viewed {
  background-color: rgb(0, 0, 79);
}

#active-clue {
  position: fixed;
  left: 20%;
  top: 40%;
  border: red solid 2px;
  width: 75%;
  height: 400px;
  background-color: aqua;
  color: black;
  justify-content: center;
  align-items: center;
}

#active-clue:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(0, 173, 173);
}

#active-clue:active {
  cursor: pointer;
  color: white;
  background-color: rgb(0, 93, 93);
}

.clue-question,
.clue-answer {
  font-size: 2em;
  padding: 32px;
  text-align: center;
}

.close-active {
  position: fixed;
  left: 20%;
  top: 40%;
  color: black;
  border: red 1px solid;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 5px;
  background-color: whitesmoke;
}

.close-active:hover {
  background-color: grey;
}

.close-active:active {
  background-color: rgb(87, 87, 87);
}

td:hover {
  border: 1px solid rgb(174, 46, 0);
}

td:active {
  border: 1px solid rgb(249, 181, 156);
}

.disabled {
  display: none;
}